<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Video Call</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet/styles.css">
</head>

<body>
    <div id="container" class="container">
        <div class="main-wrapper">
            <h1 class="text-center mb-5" style="color:white">Midterm WebRTC Room Video Call</h1>
            <div class="vertical-center d-flex flex-column flex-md-row justify-content-center align-items-center" style="margin: 0 auto; gap:20px">
                <!-- <div class="col col-md-6 d-flex justify-content-center align-items-center mb-3"> -->
                    <a href="/video/" type="button" class="btn btn-primary mb-3">Tạo phòng chat</a>
                <!-- </div> -->
                <div class="d-flex justify-content-center align-items-center flex-fill mb-3">
                    <div class="input-group">
                        <input type="text" name="roomId" class="input_roomId form-control" placeholder="Nhập ID phòng">
                        <button type="button" class="input-group-text input_roomId_btn btn btn-primary">Tham gia phòng</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Loading video call... -->
        <div class="d-flex justify-content-center align-items-center video_call_loading d-none">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // Get roomID btn
    $('.input_roomId_btn').on('click', e => {
        e.preventDefault();
        let roomId = $('.input_roomId').val();
        console.log(roomId);
        $.ajax({
            url: '/video/' + roomId,
            method: 'GET',
            beforeSend: function () {
                $('.video_call_loading').removeClass('d-none');
            },
            success: function (data) {
                console.log('/video/' + roomId)
                $('.video_call_loading').addClass('d-none');
                window.location.href = '/video/' + roomId;
            }, error: function () {
                alert('error');
            },
        })
    });
</script>

</html>